<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0">
                <form class="create-song" #f="ngForm" (ngSubmit)="f.form.valid&&onSubmit()" novalidate>
                    <mat-error class="alert alert-primary">{{status}}</mat-error>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Name Song:</mat-label>
                        <input matInput  name="nameSong" [(ngModel)]="form.nameSong" #nameSong="ngModel" required>
                        <mat-error *ngIf="nameSong.hasError('required')"> The name Song is required!</mat-error>
                    </mat-form-field><br>
                    <mat-form-field style="width: 350px" appearance="fill">
                        <mat-label>Lyrics:</mat-label>
                        <textarea matInput  name="lyrics" [(ngModel)]="form.lyrics" #lyrics="ngModel" required></textarea>
                        <mat-error *ngIf="lyrics.hasError('required')"> The name Song is required!</mat-error>
                    </mat-form-field><br>
                    <mat-label>Select Category</mat-label><br>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Category: </mat-label>
                        <mat-select [formControl]="categoryControl" required [(ngModel)]="form.category" >
                            <mat-option *ngFor="let listCTG of listCTGS" [value]="listCTG">
                                {{listCTG.nameCategory}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="categoryControl.hasError('required')">Please choose an animal</mat-error>
                        <mat-hint>{{categoryControl.value?.id}}</mat-hint>
                    </mat-form-field><br>
                    <!--SINGER -->
                    <mat-label>Select Singer</mat-label><br>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Singer: </mat-label>
                        <mat-select multiple [(ngModel)]="form.singerList" name="singerList">
                            <mat-option *ngFor="let singer of listSinger" [value]="singer">{{singer.nameSinger}}</mat-option>
                        </mat-select>
                    </mat-form-field><br>
                    <mat-label>Select Band</mat-label><br>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Band: </mat-label>
                        <mat-select  multiple [(ngModel)]="form.bandList" name="bandList">
                            <mat-option *ngFor="let band of listBand" [value]="band">{{band.nameBand}}</mat-option>
                        </mat-select>
                    </mat-form-field><br>
                    <mat-error  >Upload Avatar Song: </mat-error>
                    <app-upload-avatar (giveURLtoCreate)="onChangeAvatar($event)"></app-upload-avatar>
                    <mat-error >Upload File Mp3: </mat-error>
                    <app-upload-file (giveURLtoCreate)="onChangeFileMp3($event)"></app-upload-file>
                    <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">Create Category
                        <mat-icon color="accent" matSuffix>add_circle_outline</mat-icon>
                    </button>
                </form>

            </mat-card>
        </div>
    </div>
</div>
