<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0;">
            <form class="create-category" #f="ngForm" (ngSubmit)="f.form.valid&&ngSubmit()" novalidate>
                <mat-error class="alert alert-primary">{{status}}</mat-error>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Name Category:</mat-label>
                        <input matInput name="nameCategory" [(ngModel)]="form.nameCategory" #nameCategory="ngModel" required >
                        <mat-icon matSuffix color="accent">category</mat-icon>
                        <mat-error *ngIf="nameCategory.hasError('required')">The name category is required!</mat-error>
                    </mat-form-field>
                <mat-error *ngIf="!checkUploadAvatar">Please upload Avatar</mat-error>
                <app-upload-avatar (giveURLtoCreate)="onChangeAvatar($event)"></app-upload-avatar><br>
                <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">Create Category
                    <mat-icon color="accent" matSuffix>add_circle_outline</mat-icon>
                </button>
            </form>
            </mat-card>

        </div>
    </div>
</div>
