<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <!--            <mat-error *ngIf="checkDelete" class="alert alert-primary">{{status}}</mat-error>-->
            <mat-card style="margin: 50px 0">
                <mat-card-title align="center" class="alert alert-primary">PAGE CATEGORY</mat-card-title>
                <div class="search">
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Search Category</mat-label>
                        <input matInput [(ngModel)]="searchText" placeholder="Search category ...">
                        <mat-icon color="accent" matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="column" *ngFor="let category of categorys| filter: searchText">
                        <!--                        <button mat-icon-button (click)="openDialog(user.id)">-->
                        <!--                            <mat-icon color="warn">delete</mat-icon>-->
                        <!--                        </button>-->
                        <!--                        <button [routerLink]="['/change-role/',user.id]" mat-icon-button color="primary">-->
                        <!--                            <mat-icon>edit</mat-icon>-->
                        <!--                        </button>-->
                        <div class="card">
                            <i style="font-size: 1.5vw; color: crimson">{{category.nameCategory}}</i>
                            <img class="img" [src]="category.avatarCategory">
                        </div>
                    </div>
                </div>
                <mat-paginator [pageSizeOptions]="[3,15,30,90]" [length]="totalElements"
                               (page)="nextPage($event)"></mat-paginator>
            </mat-card>
        </div>
    </div>
</div>
